@model MyBookkeeping.ViewModels.AddRecordViewModel

@{
    ViewBag.Title = "AddRecord";

    int CurrentPage = 1;  /*主要是要傳給ChildAction使用*/
    if (ViewData["CurrentPage"] != null)
    {
        CurrentPage = int.Parse(ViewData["CurrentPage"].ToString());
    }
}

<div class="well">
    <div style="color:palevioletred; font-weight:bold;">Hi , @ViewData["UserID"].ToString()</div>

@using (Ajax.BeginForm("AddRecordByAJAX", "Bookkeeping", new AjaxOptions
{
    OnSuccess = "OnSuccess",
    OnFailure = "OnFailure",
    UpdateTargetId = "result_List",
    HttpMethod = "POST",
    LoadingElementId = "progress",
    Confirm = "Are you sure ?"
}, new { @class = "form-horizontal" }))
{

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.AntiForgeryToken()
            <div class="form-group">
                @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.EnumDropDownListFor(model => model.Type, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-sm-10">
                    @Html.TextAreaFor(model => model.Remark, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">                    
                    <button class="btn btn-default">新增</button>
                </div>
            </div>
       
            <div>
                @Html.Hidden("Page", @CurrentPage)
            </div> 

}

</div>



<div id="progress" class="modal">
    <div class="center">
        <img src="~/images/processing.gif" />
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="result_List">
            @Html.Action("List", new { Page = @CurrentPage })
        </div>        
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>  <!--使用Ajax, 一定要引用-->
    <script src="~/Scripts/CustJS/AddRecord.js"></script>    
}

