@using PagedList.Mvc;
@using MyBookkeeping.Helper;

@model IEnumerable<MyBookkeeping.Models.Bookkeeping>

@{ 
    Layout = null;

    //依Day2作業的建議, (1)直接用IEnumerable型態, 不用IPagedList (2)不再傳參數, 直接利用PagedList的功能:FirstItemOnPage
    var list = (PagedList.IPagedList)Model;  
    var LineNumber = list.FirstItemOnPage;
}

<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @(LineNumber++)
            </td>
            <td>
                <b class="@Html.ShowClass(item.Type)"> @Html.DisplayFor(modelItem => item.Type) </b>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary btn-sm" }) 
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
            </td>
        </tr>
    }

</table>

<div style="color:orange;">    
    Page @(list.PageCount < list.PageNumber ? 0 : list.PageNumber) of @list.PageCount  
</div>
@Html.PagedListPager(list, page => Url.Action("AddRecord", new { page }))
















